body 
    {
        background-image: url(../img/s1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
h1,p 
    {
       display: none;
    }
.lower label:after
    { 
    box-shadow: 0 10px 0 0 #fff, 0 20px 0 0 #fff,  0 30px 0 0 #fff; 
    }