@media all {
    html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,figure,footer,header,menu,nav,section,menu,time,mark,audio,video {margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
   
   @font-face { 
    font-family: 'DINRegular';
    src: url('../fonts/din-regular-webfont.eot');
    src: url('../fonts/din-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/din-regular-webfont.woff') format('woff'),
         url('../fonts/din-regular-webfont.ttf') format('truetype'),
         url('../fonts/din-regular-webfont.svg#DINRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    }
    @font-face {
    font-family: 'DINBold';
    src: url('../fonts/din-bold-webfont.eot');
    src: url('../fonts/din-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/din-bold-webfont.woff') format('woff'),
         url('../fonts/din-bold-webfont.ttf') format('truetype'),
         url('../fonts/din-bold-webfont.svg#DINBold') format('svg');
    font-weight: normal;
    font-style: normal;
    }

    body 
    {
        background: #fefefe;
        border-left:3px solid #ff0000;
        color:#444;
        -webkit-text-size-adjust:none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-family: 'DINRegular',Helvetica, Roboto, Arial, sans-serif;
        font-size: 17px;
        font-weight: normal;
    }
    a 
    {
        color:#444;
        text-decoration: none;
        border-bottom: 1px solid #ff0000;
    }
    a:hover 
    {
        color:#000;
        -webkit-transition: all .5s ease 0s;
        -moz-transition: all .5s ease 0s;
        -o-transition: all .5s ease 0s;
        transition: all .5s ease 0s;
    }
    img     
    {
        max-width:100%;
    }
    h1, h2, h3, h4, h5, h6
    {
        
        font-weight: normal;
        color:#000;
    }
    h3 
    { 
        font-size: 24px;        
        line-height: 30px;
        text-transform: uppercase;
        margin:0 auto 10px auto;
        position: relative;   
        max-width: 720px;
    }
    article  p + h3
    {
        margin-top: 50px;
    }
    .meta 
    {
        display: none;
    }
    iframe
    {
        width:100%;
        max-width: 100%;
    }
    .embed
    {
        margin:0 auto;
        overflow: hidden;
        padding: 10px 0 30px 0;
        max-width: 720px;
    }
     em
    {
        display: block;
        margin:10px 0;
        font-size: 16px;
    }
    img     
    {
        max-width:100%;
    }
    header
    {
        width: 100vw;
        height: 300px;
        
    }
    header div
    {
        max-width: 1100px;
        margin:0 auto;
        padding: 50px 20px;

    }
    header h1 
    {
        background: url(../img/logo.png) no-repeat center center;
        background-size: cover;
        width: 100px;
        height: 164px;    
        display: block;
        font-size: 0;
        color:#efefef;
        float: left;
    }
     header h2
    {
        font-size: 56px;
        line-height: 1em;
        text-transform: uppercase;
        float: right;
        max-width: 500px; 
        text-align: right;
        color:#ddd;
    }
    header p 
    {  
        font-size:11px;
        margin:0 0 5px 0;
    }
    header a
    {
        color:#ff0000;
        border-bottom: none;  
    }
    header a:hover
    {
        color:#fff;
    }
    article
    {
        max-width: 1100px;
        padding:15px;
        margin:50px auto;
    }
    article figure
    {
        margin:50px 0 0 0;
    }
    article figcaption
    {
        margin:0 0 50px 0;
        font-size: 13px;
        padding:5px 0 5px 0;
        text-align: right;
        color: #666;
    }
    article.story h1
    {
        font-size: 38px;        
        line-height: 40px;
        text-transform: uppercase;
        color:#111;
        margin:30px auto 60px auto;
        position: relative;
        max-width: 720px;
    }
    article.story h1:after
    {
        content: '';
        position: absolute;
        border-top:5px solid #111;
        bottom:-20px;
        left:0;
        width:60px;
    }
    article p, article li
    {
        line-height: 26px;
        margin:0 auto 20px auto;
        max-width: 720px;
        hanging-punctuation: first;
    }
    article.story ul
    {
        clear: both;
        margin:10px auto 30px auto;
        max-width: 720px;
    }
    article.story li
    {
        line-height: 1.7em;
        margin: 0;
    }
    article.story p:first-of-type:first-letter 
    {
        font-weight: bold;
        color:#111;
        float: left;
        font-size: 86px;
        line-height: 90px;
        padding-top: 0px;
        padding-right: 8px;
        padding-left: 3px;
    }
    article.story blockquote
    {
        font-size: 24px;
        font-weight: normal;
        line-height: 38px;
        text-transform: uppercase;
        margin:150px auto 150px auto;
        padding: 0 50px 0 30px;
        max-width: 600px;
        position: relative;
        color:#000;
    }
    article.story blockquote:before
    {
        font-family:Georgia, serif;
        content: open-quote;
        position: absolute;
        top:-30px;
        left:40%;
        font-size: 100px;
        color:#ddd;

    }
    article.story blockquote:after
    {
        content: '';
        position: absolute;
        border-top:5px solid #ddd;
        bottom:-30px;
        left:40%;
        width:50px;

    } 
    article span.location
    {
        font-size: 14px;
        line-height: 14px;
        margin: 5px 0 0 20px;
        background-color: #111;
        color: #fff;
        padding: 6px 8px;
        position: absolute;
        font-weight: normal;
    }
    article span.location a
    {
        color: #fff;
        border:none;

    }
    article span.location a:hover
    {
        color: #ff0000;
    }
    
    section.index
    {
        max-width: 1100px;
        margin:0 auto;
    }
    
    section.index h2
    {
        font-size: 42px;
        line-height: 52px;
        margin:50px 0 50px 25px;
        text-transform: uppercase;
        position: relative;
    }
    section.index h2:after
    {
        content: '';
        position: absolute;
        border-top:5px solid #111;
        bottom:-20px;
        left:0;
        width:80px;
    }
    article.list
    {
        background-color: #fff;
        width:31.33333333%;
        max-width: 500px;
        min-height: 350px;
        padding: 0;
        margin:1%;
        display: block;
        float: left;
        
    }
     article.list a
    {
        border:none;
        display: block;
        box-shadow: 0px 1px 2px 0px rgba(53, 53, 53, .2);
        border:1px solid #eee;
        min-height: 350px;
        opacity: .9;
    }
    article.list a:hover
    {
        color:#333;
        box-shadow: none;
        border:1px solid #ccc;
        opacity: 1;
    }
    article.list h3
    {
        font-size: 22px;        
        line-height: 24px;
        margin: 0 15px 5px 15px;         
    }
    article.list h4
    {
        font-size: 10px;        
        line-height: 18px;
        letter-spacing: 2px;
        font-weight: normal;
        text-transform: uppercase;
        color: #ff0000;
        margin: 10px 15px 0 15px;
    }
    article.list p
    {
        font-size: 16px;
        line-height: 24px;         
        margin: 5px 15px;
    }
    footer
    {
        width: 100%;
        border-top:1px solid #eee;
        clear:both;
        padding:50px 0;
        margin:100px 0 0 0;
    }
    footer p
    {
        font-size: 14px;
        line-height:1.8em;
        padding:0;
        margin:0;
        color: #888;
       
    }
    footer h4
    {
        font-size: 10px;        
        line-height: 18px;
        letter-spacing: 2px;
        font-weight: normal;
        text-transform: uppercase;
        color: #ff0000;
        margin:0;
    }
    footer a
        { 
        color:#888; 
        border-bottom: none;
    }
    footer a:hover
    { 
        color:#ff0000; 
    }
    
    nav, .copy
    {
        width: 33%;
        float: left;
    }
    nav li 
    {
        
        text-transform: uppercase; 
        font-size: 14px;
        line-height: 1.8em;
        list-style: none;
        padding: 0;
        margin: 0;
    }
   
    .subbox
    {
        float:right;
        width:33%;
    }
    
    .subbox p
    {   
        
        padding: 0;
        margin: 0 0 10px 0;

    }
    form
    {
        max-width: 720px;
        margin: 0 auto 10px auto;
    }
    form label 
    {
        text-transform: uppercase;
        font-size:15px;
        font-weight: 100;
    }
    form input[type='email'], form input[type='text'] 
    {
        
        display: block;
        font-size:14px;
        line-height:16px;
        border:2px solid #fff;
        border-radius:2px;
        background-color: #fff;
        width:90%;
        max-width: 300px;
        padding:7px 5px;
        margin:10px 0 20px 0;
        -webkit-appearance:none;
        text-align: left;
        text-transform: none;
        font-weight: normal;
        box-shadow: 0 0 1px #aaa;
    }
    form input:focus, form input:hover 
    {
        border:2px solid #ff0000; 
        outline: none;
        -webkit-transition: all .3s ease 0s;
        -moz-transition: all .3s ease 0s;
        -o-transition: all .3s ease 0s;
        transition: all .3s ease 0s;
    }
    form button
    {
        font-size: 12px;        
        line-height: 18px;
        letter-spacing: 1px;
        font-weight: normal;
        text-transform: uppercase;
        position: relative;
        display: inline-block;
        padding: 7px 20px;
        border:none;
        border-radius:2px;
        color: #fff;
        background-color:rgba(0,0,0,1);
        z-index:0;
        text-align: center;
        text-decoration: none;
        overflow: hidden;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
        -webkit-appearance:none;
    }
    form button:after
    {
        content: "";
        position: absolute;
        background: none repeat scroll 0 0 #ff0000;
        height: 0;
        left: 50%;
        top: 50%;
        width: 100%;
        z-index: -1;
        -webkit-transition: all .3s ease 0s;
        -moz-transition: all .3s ease 0s;
        -o-transition: all .3s ease 0s;
        transition: all .3s ease 0s;
        -moz-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
        -ms-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
        -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
        transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    }
    form button:hover
    {
        color:#fff;
    }
    form button:hover:after
    {
        height: 420%;
    }

}

@media (max-width:1100px) {
    
    header
    {
        max-width: 95%;
        height: 230px;
        margin:0 auto;
    }

    header div
    {
        max-width: 100%;
        padding:20px;

    }
    header h1 
    {
        width: 65px;
        height: 110px;    
    }
    header p
    {
        font-size: 9px;
    }
    
     header h2
    {
        font-size: 40px;
        max-width: 65%;
        
    }
    article
    {
        margin-top: 0;
    }
    
    section.index
    {
        padding:0 10px;
    }
    article span.location
    {
        display: block;
        position: relative;
        margin: 5px 0 5px 0;
        width: 155px;
    }
    article.list
    {  
        width:48%;
        min-height: 400px;   
    }
    article.list a
    {
        min-height: 400px;   
    }
   
}

@media (max-width: 800px) {

   .copy, nav, .subbox
    {
        width: 90%;
        float: none;
        margin:0 auto 30px auto;
    }
    article.list
    {
        width: 95%;
        float: none;
        margin:10px auto 20px auto; 
        min-height: auto;
    }
     article.list a
    {
        min-height: auto;
        padding:0 0 20px 0;
    }
    header h2
        {
        font-size: 30px;
        
        
    }

    footer
     {
        margin:0;
        padding: 30px 0 0 0;
    }
}