
@font-face {
    font-family: 'helvetica_neueregular';
    src: url('../fonts/helveticaneue-thin-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneue-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@media all {
    html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,figure,footer,header,menu,nav,section,menu,time,mark,audio,video {margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
    html
    {
        width: 100%;
        height: 100%;
    }
    body 
    {
        background-color: #fefefe;
        color:#444;
        -webkit-text-size-adjust:none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-family: 'Domine', Georgia, serif;
        font-size: 16px;
        font-weight: normal;
    }
    a 
    {
        color:#000;
        text-decoration: none;
    }
    a:hover 
    {
        color:#ff0000;
        -webkit-transition: all .4s ease 0s;
        -moz-transition: all .4s ease 0s;
        -o-transition: all .4s ease 0s;
        transition: all .4s ease 0s;
    }
    img     
    {
        max-width:100%;
    }
    iframe
    {
        width:100%;
        max-width: 100%;
    }
    section
    {   
        width: 60vw;
        height: 100vh;
        float: right;
        position: relative;
    }
    header
    {
        width: 40vw;
        max-width: 800px;
        height: 100vh;
        float:left;
        background-color: #111;
        position: fixed;
        display: table;
    }
    header div
    {   
        display: table-cell;
        vertical-align: middle;
        padding:0 6%;
    }
    header h1 
    {
        font-family: 'helvetica_neueregular';
        font-size:33px; 
        font-weight: normal;  
        text-transform: uppercase;
        line-height: 1em;
        letter-spacing:2px;
        color: #fff;
    }
     header h2
    {
        font-family: 'helvetica_neueregular';
        color:#fff;
        font-size: 76px;
        line-height: 1em;
        text-transform: uppercase;
        margin:100px 0 0 0;
        font-weight: normal;
        position: relative;
    }
    header h2:before
    {
        content: '';
        position: absolute;
        border-top:5px solid #fff;
        top:-20px;
        left:0;
        width:80px;
    }
    header p 
    {
        color:#ccc;
        font-size:12px;
        margin:0 0 5px 0;
    }
    header a
    {
        color: #ff0000;
    }
    header a:hover
    {
        color:#fff;
    }
    article, footer
    {
        max-width: 720px;
        padding:15px;
        margin:50px auto;
    }
    article figure
    {
        margin:30px 0 0 0;
    }
    article figcaption
    {
        font-family: Georgia,serif;
        margin:0 0 30px 0;
        font-size: 12px;
        padding:5px 0 5px 0;
        text-align: right;
        font-style: italic;
        color: #666;
    }
    article.story h1
    {
        font-family: 'helvetica_neueregular';
        font-size: 27px;        
        line-height: 34px;
        font-weight: normal;
        text-transform: uppercase;
        letter-spacing: 1px;
        color:#000;
        margin:30px 0 60px 0;
        position: relative;
    }
    article.story h1:after
    {
        content: '';
        position: absolute;
        border-top:5px solid #111;
        bottom:-20px;
        left:0;
        width:60px;
    }
    article p, article li
    {
        line-height: 27px;
        margin:0 0 20px 0;
        letter-spacing:.1px;
    }
    article.story h3
    {
        font-family: 'helvetica_neueregular';
        text-transform: uppercase;
        font-size: 18px;
        margin:10px 0;

    }
    article.story ul
    {
        clear: both;
        margin:10px 0 30px 40px;
    }
    article.story li
    {
        line-height: 1.7em;
        margin: 0;
    }
    article.story p:first-of-type:first-letter 
    {
        font-family: Georgia, sans-serif;
        float: left;
        font-size: 92px;
        line-height: 78px;
        padding-top: 0px;
        padding-right: 8px;
        padding-left: 3px;
    }
    article a
    {
        border-bottom:1px solid #ccc;
    }

    article.story blockquote
    {
        
        font-size: 19px;
        font-weight: normal;
        line-height: 30px;
        color: #222;
        margin:40px 0 40px 0;
        padding: 0 50px 0 30px;
        border-left: 5px solid #000;    
    }
    
    article span.location
    {
        font-family: helvetica,sans-serif;
        font-size: 12px;
        line-height: 12px;
        margin: 6px 0 0 20px;
        background-color: #111;
        color: #fff;
        padding: 5px 7px;
        position: absolute;
    }
    article span.location a
    {
        color: #fff;
        border:none;

    }
    article span.location a:hover
    {
        color: #ff0000;
    }
    article.list
    {
        display: block;
        clear: both;
        min-height:150px;
        margin:50px auto 70px auto;
    }
    article.list div
    {
        float: left;
        width: 57%;
        padding-top: 10px;
    }
    article.list h3
    {
        
        font-family: 'helvetica_neueregular';
        font-size: 24px;        
        line-height: 30px;
        letter-spacing: 1px;
        font-weight: normal;
        text-transform: uppercase;
        color:#000;
        margin-bottom:10px;
        position: relative;   
    }
    article.list h3:after
    {
        content: '';
        position: absolute;
        border-top:3px solid #111;
        top:-10px;
        left:0;
        width:40px;
    }
    article.list img
    {
        float: left;
        width: 40%;
        margin-right:3%;
    }
    article.list p
    {
        clear: right;
    }
    article.list a
    {
        border:none;
    }
    
    article.list a:hover
    {
        color:#000;
    }
    
    footer
    {
        border-top:2px solid #eee;
        padding:10px 0;
    }
    footer p
    {
        font-family: Georgia,serif;
        margin:0 0 30px 0;
        font-size: 12px;
        line-height:1.6em;
        padding:5px 0 5px 0;
        font-style: italic;
        color: #666;
    }
    footer a
    {
        color:#000;
        border-bottom: 1px solid #ccc;
    }
    nav ul
    {

    }
    nav li  
    {
        font-family: 'helvetica_neueregular';
        letter-spacing: 1px;
    }
    em
    {
        display: block;
        margin:10px 0;
        font-size: 16px;
    }
    img     
    {
        max-width:100%;
    }
    input
    {
        display:none;
    }
    .lower label
    {
    position: fixed;
    left: 40px;
    top: 30px;
    width: 25px;
    height:25px;
    z-index: 1;
    }
    .lower label:after
    { 
    position: absolute;
    display: block;
    content: "";
    top:-10px;
    width: 25px;
    height: 2px;
    box-shadow: 0 10px 0 0 #eee, 0 20px 0 0 #eee,  0 30px 0 0 #eee; 
    }
    .lower label:hover
    {
    cursor:pointer;
    }
    .overlay
    {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255,255,255,.95);
    z-index: 2;
    }
    .overlay label
    {
    width: 30px;
    height:30px;
    position: absolute;
    left: 40px;
    top: 30px;
    background: url('../img/cross.png');
    background-size: cover;
    z-index: 100;
    cursor:pointer;
    }
    .overlay nav 
    {
    text-align: center;
    position: relative;
    top: 50%;
    height: 60%;
    font-size: 22px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    }
    .overlay ul 
    {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    height: 100%;
    position: relative;
    }
    .overlay ul li 
    {
    font-family: 'helvetica_neueregular';
    font-size: 26px;
    font-weight: normal;
    display: block;
    height: 20%;
    height: calc(100% / 5);
    min-height: 54px;
    }
    .overlay ul li a 
    {
    display: block;
    color:#666;
    text-decoration:none;
    text-transform:uppercase;
    }
    .overlay ul li a:hover
    {
    color: #111;
    }
    .lower~.menu-overlay
    {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
    transition: opacity 0.5s, visibility 0s 0.5s;
    }
    #op:checked~.menu-overlay
    {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
    }
    .menu-overlay nav 
    {
    -moz-perspective: 300px;
    }
    .menu-overlay nav ul 
    {
    opacity: 0.4;
    -webkit-transform: translateY(-25%) rotateX(35deg);
    transform: translateY(-25%) rotateX(35deg);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    }
    #op:checked~.menu-overlay nav ul 
    {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    }
    #op:not(:checked)~.menu-overlay nav ul 
    {
    -webkit-transform: translateY(25%) rotateX(-35deg);
    transform: translateY(25%) rotateX(-35deg);
    }
    
    form
    {
        padding:10px 0 20px 0;
    }
    form label 
    {
        font-family: "Helvetica Neue", Helvetica, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
        font-weight:bold;
        font-size:15px;       
    }
    form input[type='email'], form input[type='text'] 
    {
        font-family: "Helvetica Neue", Helvetica, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
        display: block;
        font-size:14px;
        line-height:18px;
        border:2px solid #eee;
        border-radius:2px;
        background-color: #fff;
        width:90%;
        padding:10px 5px;
        margin:20px 0;
        -webkit-appearance:none;
        text-align: left;
        text-transform: none;
        letter-spacing: 0;
        font-weight: normal;
    }
    form input:focus, form input:hover 
    {
        border:2px solid #ff0000; 
        outline: none;
        -webkit-transition: all .3s ease 0s;
        -moz-transition: all .3s ease 0s;
        -o-transition: all .3s ease 0s;
        transition: all .3s ease 0s;
    }
    form button, form input
    {
        font-family: "Helvetica Neue", Helvetica, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
        font-size: 13px;
        font-weight: bold;
        line-height:14px;
        letter-spacing:1px;
        position: relative;
        display: inline-block;
        padding: 12px 35px;
        border:none;
        border-radius:2px;
        color: #fff;
        background-color:rgba(0,0,0,1);
        z-index:0;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
        -webkit-appearance:none;
    }
    form button:after
    {
        content: "";
        position: absolute;
        background: none repeat scroll 0 0 #ff0000;
        height: 0;
        left: 50%;
        top: 50%;
        width: 100%;
        z-index: -1;
        -webkit-transition: all .3s ease 0s;
        -moz-transition: all .3s ease 0s;
        -o-transition: all .3s ease 0s;
        transition: all .3s ease 0s;
        -moz-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
        -ms-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
        -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
        transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    }
    form button:hover
    {
        color:#fff;
    }
    form button:hover:after
    {
        height: 420%;
    }

}

@media (max-width:990px) {
    

    .lower label
    {
        position: absolute;
        top:20px;
        left: auto;
        right: 20px;
    }
    .overlay label
    {
        right:20px;
        left: auto;
        top: 20px;
    }
    header
    {
        width: 100vw;
        height: auto;
        float: none;
        position: relative;
    }
    header div 
    {
        display: block;
        max-width: 720px;
        margin:0 auto;
        padding:15px;

    }
    header h2
    {
        font-size: 52px;
        margin:60px 0 10px 0;
    }
    section
    {
        width: 100vw;
        float: none;
        height: auto;
    }
    footer p
    {
        padding:10px;
    }
    article.list 
    {
        min-height: auto;
        margin:0 auto;
        width: 100%;
    }
    article.list div
    {
        float: none;
        width: 100%;
    }
    article.list img
    {
        float: none;
        width: 100%;
        margin-right:0px;
    }
    article.list h3
    {
        font-size: 20px;
        line-height: 26px;
        margin: 10px 0 5px 0;
    }
    article span.location
    {
        display: block;
        position: relative;
        margin: 5px 0 5px 0;
        width: 155px;
    }

    
}
