@font-face {font-family:'HNB';src: url('fonts/HelveticaNeue-Bold.woff') format('woff');font-weight: normal; font-style: normal;}
html,body,main,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,cite,blockquote,em,img,small,strong,sub,sup,b,i,dl,dt,dd,ol,ul,li,form,label,table,tr,th,td,article,figure,footer,header,nav,section,video {margin:0;padding:0;border:0;outline:0;vertical-align:baseline;background:transparent;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
body {color: #222; background-color:#fff; font-family:Charter, Georgia, ui-serif, serif; -webkit-text-size-adjust: 100%; -webkit-font-smoothing:antialiased;}
img {max-width: 100%; width: 100%; font-size: 0;}
iframe {margin: 30px auto;}
hr {margin: 40px auto; width: 100%; border: none; background-color: #ccc; height: 1px; border: none;}
h1,h2,h3,h4,h5,h6 {color: #000; font-family: "Helvetica Neue", HelveticaNeue, HNB; text-transform: uppercase;text-rendering: optimizeLegibility; }
h1 {font-size: 46px; line-height: 44px;text-transform: uppercase; margin-bottom: 10px;}
h2 {font-size: 36px; line-height: 40px; margin:10px 0 -10px 0;}
h3 {font-size: 26px; line-height: 26px; margin:10px 0;  }
h4 {font-size: 22px; line-height: 22px;}
h5 {font-size: 17px; line-height: 20px; margin: 10px 0;}
h6 {text-transform: uppercase; font-size: 12px; margin:0 0 5px 0; color: #a89177; letter-spacing: 1px; border-bottom: 1px solid; display: inline-block;}
h6 a {text-decoration: none;}
p {font-size: 17px; line-height: 1.6em; margin: 20px 0; letter-spacing: 0.01em;}
ul {margin: 30px 0 30px 20px;}
ul ul {margin: 0 0 20px 20px;}
ul li ul {margin: 0 0 0px 20px;}
ol {margin-left: 30px;}
li {font-family: "Helvetica Neue", HelveticaNeue, HNB; font-size: 15px; line-height: 28px;}
table {margin: 20px 0 30px 0; width: 100%; border: none;}
th,td {font-family: monospace, ui-monospace, 'courier new', courier; font-size: 14px;  text-align: left; padding: 7px; border-bottom: 1px solid #eee;}
th {text-transform: uppercase;}
blockquote {font-size:23px; font-style: italic;line-height: 32px;margin: 40px 0;padding: 0 30px;border-left: 5px solid #a89177;}
cite {font-size: 11px; display: block; font-style: normal; padding: 5px 0; text-transform: uppercase;}
a {color: #a89177;}
a:hover {color: #000;} 
sub, sup {font-size: 75%; line-height: 0;  position: relative;  vertical-align: baseline; font-weight: normal;}
sup { top: -0.5em;}
sub {  bottom: -0.25em;}
header {text-align: left; height: 60px; max-width: 2000px; margin: 0 auto; }
header h1, header b {font-family: "Helvetica Neue", HelveticaNeue, HNB; font-size: 18px; line-height: 18px; font-weight: 700;padding: 22px 0 0 20px; float: left; margin: 0; }
header a {text-decoration: none; color: #000;}
header nav {width: auto; text-align: right;  padding:25px 20px 0 0; margin-bottom: 0px; border: none;float: right;}
header nav p {font-family: "Helvetica Neue", HelveticaNeue, HNB; text-transform: uppercase; font-size: 13px; line-height: 13px; margin: 0; color: #ccc;}
header nav a:hover, header h1 a:hover {color: #a89177;}

article  {max-width: 700px; margin:0 auto; padding: 0 20px;}
.hero + article {margin:20px auto;}
figure {margin: 0 -150px 20px -150px;}
figcaption {font-size: 12px; margin: 10px 0 30px 0;}
footer  {max-width: 2000px; margin: 0 auto;padding: 50px 20px;}
footer p {font-family: "Helvetica Neue", HelveticaNeue, HNB; text-transform: uppercase; font-size: 13px;}
input[type=submit], .button {display: inline-block; text-decoration: none; border: 1px solid #a89177; border-radius: 20px; padding: 10px 27px; font-family: monospace, ui-monospace, 'courier new', courier; color: #a89177; text-transform: uppercase; font-size: 14px; line-height: 14px; letter-spacing: 1px; background-color: transparent;}
.button:hover { border: 1px solid #000; color: #000;}
.sc {font-variant: small-caps; font-size: larger;}
.hero {max-width: 2000px; margin: 0 auto; padding: 0 20px; }
.title {display: none; font-size: 0;}
.sa {font-family: "Helvetica Neue", HelveticaNeue, HNB; text-transform: uppercase; font-weight: 700;}

.home {max-width:2000px; height: 80vh; margin:0 auto; padding: 0 20px;}
.home img {width: 100%;height: 100%;object-fit: cover;overflow: hidden;}
.home-nav {max-width: 2000px; margin:0 auto; padding:20px;}
.home-nav ul {list-style: none;margin:0; padding: 0;display: block; float:left; width: 25%;}
.home-nav ul:first-of-type li {padding: 0;}
.home-nav ul:last-of-type {float: right;}
.home-nav ul:last-of-type li {padding: 0 0 0 50px;}
.home-nav ul:nth-of-type(3) a,.home-nav ul:nth-of-type(4) a {font-weight: bold;}
.home-nav li{font-size:13px;line-height:18px;margin:0 0 10px 0;}
.home-nav b, .home-nav a {text-transform: uppercase;}
.compact  {margin: 20px 0 0 0;}
.grid {column-gap: 20px; column-fill: initial;column-count: 2; page-break-inside: avoid; break-inside: avoid;}
.grid .item {margin-bottom: 10px; display: block; vertical-align: top; break-inside: avoid;}
.op {margin: 20px 0; padding: 10px 0;}
.op li {display: inline-block; list-style-type: none; margin: 0 5px 10px 0;}
.op li a {text-decoration: none; border: 1px solid #a89177; border-radius: 20px; padding: 6px 18px; font-family: monospace, ui-monospace, 'courier new', courier; color: #a89177; text-transform: uppercase; font-size: 11px; line-height: 11px; letter-spacing: 1px; background-color: transparent;}
.op li a:hover { border: 1px solid #000; color: #000;}
.op li:first-of-type a {background-color: #fff; color: #000; border-color: #000;}

.about section {width: 50%; height: 90vh;  display: table; float: left; background-color: #111; margin: 0;}
.about section div {vertical-align: middle; display: table-cell; padding: 20px;}
.about figure {width: 50%; height: 90vh; float: right; position: relative; margin: 0;}
.about section:nth-of-type(2),.about section:nth-of-type(4) {float: right; text-align: right;}
.about figure:nth-of-type(2),.about figure:nth-of-type(4) {float: left;}
.about figcaption {font-family: charter, georgia, sans-serif; font-size: 13px; font-style: italic; position: absolute; bottom: 10px; right: 30px; text-shadow: 1px 1px 3px #111; color: #fff; margin: 0;}
.about section h1,.about section h2, .about section h3{font-size: 60px; line-height:55px; margin: 0;color: #fff;}
.about section p  {color: #fff; font-size: 15px; font-family: "Helvetica Neue", HelveticaNeue, HNB;}
.about section a:hover {color: #fff;}

.magazines section {width: 50%; height: 90vh;  display: table; float: left; background-color: #fff; margin: 0;}
.magazines section div {vertical-align: middle; display: table-cell; padding: 0;}
.magazines figure {width: 50%; height: 90vh; float: right; position: relative; margin: 0;}
.magazines figure img {width: 100%;height: 100%;object-fit: cover;overflow: hidden;}
.magazines section:nth-of-type(2),.magazines section:nth-of-type(4) {float: right; }
.magazines figure:nth-of-type(2),.magazines figure:nth-of-type(4) {float: left;}
.magazines section h2 {font-size: 60px; line-height:50px; margin: 0;color: #000;}
.magazines section p  {color: #222; font-size: 15px; font-family: "Helvetica Neue", HelveticaNeue, HNB; margin: 10px 0 20px 0; max-width: 500px;}

.footnotes ol {margin: 30px 0 30px 20px;}
.footnotes li {font-size: 12px;font-family: charter, georgia, sans-serif;}

.fixed-box {width: 46vw; height: 90vh;  float: left; display:table;position: fixed; background-color: #000;}
.fixed-box div {vertical-align: middle; display: table-cell; padding:0 50px; position:relative;}
.fixed-box h1, .fixed-box p {color: #fff;}
.fixed-box figcaption {position: absolute; bottom: 0; left: 20px;}
.scroll-box {float:right; width: 47vw;position: relative;}
.scroll-box article {padding: 0;}

@media (min-width: 2000px) 
{
 .about section h1,.about section h2, .about section h3{font-size: 70px; line-height:60px; }   
 .about section div {padding: 50px;}
}
@media (max-width: 1024px) 
{
    figure  {margin: 20px 0 0 0px;}
    .grid {column-count: 1;}
    .about section, .about figure {width: 100%; height: auto;  position: relative; display: block; float: none; }
    .about figure {width: 100%; height: 500px;}
    .about section:nth-of-type(2),.about section:nth-of-type(4) {float: none;text-align: left }
    .about figure:nth-of-type(2),.about figure:nth-of-type(4) {float: none; ;}
    .about section h1,.about section h2, .about section h3{font-size: 30px; line-height:30px;}
    .about section div {vertical-align: middle; display: block; padding: 20px;}
    .magazines section,.magazines figure  {width: 100%; height: auto;  position: relative; display: block; float: none;}
    .magazines section:nth-of-type(2),.magazines section:nth-of-type(4) {float: none;}
    .magazines figure:nth-of-type(2),.magazines figure:nth-of-type(4) {float: none;}
    .magazines section h2 {font-size: 32px; line-height: 30px;}
     .home-nav ul:nth-of-type(2) {display: none;}
     .home-nav ul:nth-of-type(1),.home-nav ul:nth-of-type(3),.home-nav ul:nth-of-type(4)  {width: 33%;}
}    

@media (max-width: 860px) 
{

    .fixed-box {width: 100%; height: auto;  float: none; display:block;position: relative; background: none;margin-bottom: 20px;}
    .fixed-box div {display: block; padding:30px 0 0 0;}
    .fixed-box h1, .fixed-box p {color: #000;}
    .scroll-box {float:none; width:100%;}
}

@media (max-width: 700px) 
{
    h1 {font-size: 32px; line-height: 36px; letter-spacing: normal;}
    h2 {font-size: 24px; line-height: 30px;}
    blockquote {font-size:18px;line-height: 28px;padding: 0 20px;}
    article {padding-top: 15px;}
    header {height: 80px;}
    header nav {text-align: left; float: none; padding: 10px 0 10px 20px; width: 100%; clear: left;}
    header nav a:first-of-type, header nav span {display: none;}
    header nav a {padding: 0 10px;}
    header nav a:nth-of-type(2) {padding-left: 0;}
    .home {height: 500px;}
    header h1, header b, footer, .hero, .home, header nav, article {padding-left: 10px; padding-right: 10px;}
    .home {max-width:2000px; height: 60vh; margin:0 auto; padding: 0 10px;}
    .home-nav ul:first-of-type {float:none; width: 100%;}
    .home-nav ul:nth-of-type(2),.home-nav ul:nth-of-type(3),.home-nav ul:nth-of-type(4) {display: none;}
    .home-nav li{padding: 0;}
  

} 

@media (min-height: 600px) 
{
    body {padding-top: 60px; position: relative;}
    header {position: fixed; background-color: #fff; width: 100%; top: 0; z-index: 1; left: 50%;transform: translateX(-50%);}
}