@font-face {
    font-family: 'Din';
    src:url('fonts/DIN-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


html,body,main,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,cite,blockquote,em,img,small,strong,sub,sup,b,i,dl,dt,dd,ol,ul,li,form,label,table,tr,th,td,article,figure,footer,header,nav,section,video {margin:0;padding:0;border:0;outline:0;vertical-align:baseline;background:transparent;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
body {color: #222; background-color:#fff; font-family:Charter, Georgia, ui-serif, serif; -webkit-text-size-adjust: 100%; -webkit-font-smoothing:antialiased;}
img {max-width: 100%; width: 100%; font-size: 0;}
hr {margin: 40px auto; width: 100%; border: none; background-color: #ccc; height: 1px; border: none;}
h1,h2,h3,h4,h5,h6 {color: #000; font-family:Din, ui-sans-serif, system-ui; text-transform: uppercase; font-weight: normal;}
h1 {font-size: 46px; line-height: 1em; margin:5px 0 0 0; text-transform: uppercase;letter-spacing: -1px;}
h2 {font-size: 38px; line-height: 40px; margin:10px 0 -10px 0; letter-spacing: -1px;}
h3 {font-size: 26px; line-height: 26px; margin:10px 0;  }
h4 {font-size: 22px; line-height: 22px; margin:10px 0; }
h5 {font-size: 17px;margin: 20px 0 -20px 0;}
h6 {text-transform: uppercase; font-family: monospace, ui-monospace, 'courier new', courier; font-size: 12px; margin:0; color: #a89177; letter-spacing: 1px; text-decoration: underline;}
p,li {font-size: 17px; line-height: 1.6em; margin: 20px 0;}
ul {margin: 30px 0 30px 20px;}
ul ul {margin: 0 0 20px 20px;}
ol {margin-left: 30px;}
table {margin: 30px 0; width: 100%;}
th,td {font-family: monospace, ui-monospace, 'courier new', courier; font-size: 14px;  text-align: left; padding: 7px; border-bottom: 1px solid #eee;}
blockquote {font-size:23px;line-height: 32px;font-style: italic;margin: 40px 0;padding: 0 30px;border-left: 5px solid #a89177;}
cite {font-size: 11px; display: block; font-style: normal; padding: 5px 0; text-transform: uppercase;}
a {color: #a89177;}
a:hover {color: #000;} 

header {text-align: center; background-color: #000;}
header p {font-family: monospace, ui-monospace, 'courier new', courier;  font-size: 13px; color: #ccc;}
header img {width: 90px; height: 90px; margin:20px;}
header nav {width: 100%; text-align: center;  padding:10px 0; margin-bottom: 40px; border-top: 1px solid #333;border-bottom: 1px solid #333;background-color: #151515;}
header nav p {text-transform: uppercase; font-size: 15px; line-height: 15px; margin: 0; font-family: monospace, ui-monospace, 'courier new', courier;  color: #333;}
header nav a {padding: 0 10px; text-decoration: none; color: #ccc;}
header nav a:hover {color: #a89177;}
article  {max-width: 680px; padding:0 20px; margin:0 auto 60px auto;}
article li {margin:5px 0;}
article.post h2 {font-size: 28px; line-height: 32px; margin-bottom: 20px; text-transform: none; color: #999;}
article.post p:first-of-type{font-size: 18px; color: #000;}
figure  {margin: 30px -150px 0 -150px;}
figcaption {font-size: 12px; margin: 10px 0 30px 0;}
footer  {width: 100%; padding: 50px 0;margin:0 auto; text-align: center;}
footer ul {text-align: center; list-style-type: none; margin:10px 0;}
footer p, footer li {font-family: monospace, ui-monospace, 'courier new', courier; font-size: 14px;display: inline-block;  margin: 0;}
footer a {padding: 0 10px;}
input[type=submit], .button {display: inline-block; text-decoration: none; border: 1px solid #a89177; border-radius: 20px; padding: 10px 27px; font-family: monospace, ui-monospace, 'courier new', courier; color: #a89177; text-transform: uppercase; font-size: 14px; line-height: 14px; letter-spacing: 1px; background-color: transparent;}
.button:hover { border: 1px solid #000; color: #000;}
.sc {font-variant: small-caps; font-size: larger;}
.home {width: 95%; max-width: 2000px; margin: 0 auto;}
.home h1 {margin: 10px auto;}
.home h6 span {text-decoration: underline;color: #a89177;}
.home section img {margin-bottom: 10px;}
.home section:nth-of-type(1)  {width: 50%; padding:0 20px; margin-bottom: 60px; float: left;}
.home section:nth-of-type(2)  {width: 25%; padding:0 20px; margin-bottom: 60px; float: left;}
.home section:nth-of-type(3)  {width: 25%; padding:0 20px; margin-bottom: 60px; float: left; }
.home section:nth-of-type(4)  {width: 40%; padding:0 20px; margin-bottom: 60px; float: left;clear: left;}
.home section:nth-of-type(5)  {width: 60%; padding:0 20px; margin-bottom: 60px; float: left;}
.home section:nth-of-type(6)  {width: 60%; padding:0 20px; margin-bottom: 60px; float: left;}
.home section:nth-of-type(7)  {width: 40%; padding:0 20px; margin-bottom: 60px; float: left;}
.home section:nth-of-type(8)  {width: 60%; padding:0 20px; margin-bottom: 60px; float: left;}
.columns {display: grid; grid-template-columns: 1fr 1fr 1fr; grid-gap:20px;}
.stories {width: 95%; max-width: 2000px; margin: 0 auto;}
.stories h2 {font-size: 28px; line-height: 28px;}
.stories h6 {margin: 30px 0;}
.stories .columns {display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; grid-gap:20px;}
.compact  {margin: 20px 0 0 0;}
.grid {transition: all .5s ease-in-out;column-gap: 20px; column-fill: initial;column-count: 2;}
.grid .item {margin-bottom: 10px;display: inline-block; vertical-align: top;}
.mag {float: left; width: 28%; margin:0 20px 40px 0;}
.op {margin: 20px 0; padding: 10px 0;}
.op li {display: inline-block; list-style-type: none; margin: 0 5px 20px 0;}
.op li a {text-decoration: none; border: 1px solid #a89177; border-radius: 20px; padding: 6px 18px; font-family: monospace, ui-monospace, 'courier new', courier; color: #a89177; text-transform: uppercase; font-size: 11px; line-height: 11px; letter-spacing: 1px; background-color: transparent;}
.op li a:hover { border: 1px solid #000; color: #000;}

@media (max-width: 1024px) 
{
    figure  {margin: 20px 0 0 0px;}
    .home section:nth-of-type(1)  {width:60%;}
    .home section:nth-of-type(2)  {width:40%;}
    .home section:nth-of-type(3)  {width:60%;}
    .home section:nth-of-type(4)  {width:40%;clear: none;}
    .home section:nth-of-type(5)  {width:60%;}
    .home section:nth-of-type(6)  {width:40%;}
    .home section:nth-of-type(7)  {width:100%; float: none;}
    .columns, .stories .columns  {grid-template-columns: 1fr 1fr;}
    .grid {column-count: 1;}
}

@media (max-width: 700px) 
{
    h1 {font-size: 32px; line-height: 36px; letter-spacing: normal;}
    h2 {font-size: 24px; line-height: 30px;}
    header p {display: none;}
    header nav p {display: inline-block;font-size: 14px; line-height: 14px; margin: 0;}
    header nav a:first-of-type, header nav span {display: none;}
    header nav a {padding: 0 5px;}
    .home section:nth-of-type(1),.home section:nth-of-type(2),.home section:nth-of-type(3),.home section:nth-of-type(4),.home section:nth-of-type(5),.home section:nth-of-type(6),.home section:nth-of-type(7),.home section:nth-of-type(8) {width: 100%; float: none; }
    footer p, footer li {display: block;margin-bottom: 10px;}
    .columns, .stories .columns  {display: block; grid-template-columns: 1fr; margin:0 auto; grid-gap:20px; padding: 0px; }
} 