html,body,main,div,object,iframe,h1,h2,h3,h4,h5,h4,p,cite,blockquote,em,img,small,strong,sub,sup,b,i,dl,dt,dd,ol,ul,li,form,label,table,tr,th,td,article,figure,footer,header,nav,section,video,address {margin:0;padding:0;border:0;outline:0;vertical-align:baseline;background:transparent;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
html {scroll-behavior: smooth;}
body {background-color: #fff; color: #444;-webkit-text-size-adjust: 100%; -webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;-webkit-text-size-adjust: 100%; -webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;text-rendering: optimizeLegibility; font-variant-ligatures: normal;}

/* typography */
@font-face {font-family: 'NeueMed';src: url('fonts/NeueHaasDisplay-Mediu.woff2') format('woff2');font-weight: normal;}
@font-face {font-family: 'Neue';src: url('fonts/NeueHaasDisplay-Roman.woff2') format('woff2');font-weight: normal;}
@font-face {font-family: 'NeueItalic';src: url('fonts/NeueHaasDisplay-RomanItalic.woff2') format('woff2');font-weight: normal;}
@font-face {font-family: 'JetBrains'; src: url('fonts/JetBrainsMono-Regular.woff2') format('woff2');font-weight:normal;}
@font-face {font-family: 'JetBrainsBold'; src: url('fonts/JetBrainsMono-Bold.woff2') format('woff2');font-weight:normal;}

body {font-size: .85rem;}
body,p,small,li, header, footer,cite, .list h6{font-family: Neue; font-weight: normal;}
h1,h2,h3,h4{font-family: NeueMed; font-weight: normal; letter-spacing: -0.01em; color: #000;}
h1 {font-size: 2.6rem;}
h2 {font-size: 1.6rem; margin: 0 0 40px 0; color: #bfbaae;}
h3 {font-size: 1.4rem; letter-spacing: normal;}
h4 {font-size: 1.1rem; letter-spacing: normal;color: #bfbaae;}
p,li {font-size: .95rem; line-height: 1.5em; margin:20px 0;letter-spacing: 0.02em;word-spacing: .1rem;}
blockquote {font-family: NeueMed; font-size: 1.2rem; line-height: 1.3em;margin: 40px 0;letter-spacing: 0.01em; color: #000; display: inline-block;}
cite {font-family:JetBrains; font-style:normal;display: block; font-size: 0.8rem; margin:5px 0;color: #9c978a;}
i {font-family: NeueItalic;font-weight: normal; font-style: normal;}
sub, sup {font-size: 75%; line-height: 0;  position: relative;  vertical-align: baseline; font-weight: normal;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}
th, .message, .svg text {font-family:JetBrainsBold; font-weight:normal; text-align: left; font-size: .9rem;}
td {font-family:JetBrains; text-align: left; font-size: .9rem;}
b {font-weight: normal; color: #000;}
ul,ol {margin: 20px;}
li {margin: 5px 0;}
ol li {font-size: 0.8rem;}
hr {height: 1px; background-color: rgba(191,186,174,.3); border: 0;}
img {max-width: 100%; border: 0; pointer-events: none;}
a img {pointer-events: auto;}
table {margin:25px 0 50px 0; border-collapse: collapse;}
th {padding: 5px 0; width: 110px; border-bottom: 1px solid rgba(191,186,174,.3);}
td {padding: 5px 0; border-bottom: 1px solid rgba(191,186,174,.3);}
a, footer h4 a {color: #000; word-spacing: normal;text-decoration: none; cursor: pointer;}
p a, li a {border-bottom: 1px solid #bfbaae; }
a:hover {color: #9c978a; opacity: 0.85; transition:opacity .5s;}
header a, footer a, .portrait a {color: #9c978a;}
header a:hover, footer a:hover, .list a h3:hover,.list a p:hover, .portrait a:hover {color: #000;}
article, section, header, footer, .landscape, .portrait, .list, .title {width:95%; max-width: 3000px; margin:0 auto;}
article {margin:50px 2.5%; max-width: 550px; width: 95%;}
header, footer {font-family: Jetbrains;}
header {border-bottom: 1px solid rgba(191,186,174,.3); padding: 20px 0;}
header nav {float: right;}
footer {border-top: 1px solid rgba(191,186,174,.3); padding:60px 0; margin:140px auto 0px auto; }
footer div {width: 32.7%;  display: inline-block; vertical-align: top; line-height: 2em; text-align: right;}
footer div:first-of-type {text-align: left;}
.portrait {margin:20px auto; display: grid; grid-template-columns: repeat(3, 2fr); grid-gap: 20px 20px; grid-template-rows: masonry;}
.landscape {margin:20px auto; display: grid; grid-template-columns: repeat(2, 2fr); grid-gap: 20px 20px; grid-template-rows: masonry;}
.portrait p, .landscape p {margin: 10px 0 0 0; font-size:0.85rem; line-height: 1.2em;}
.title {margin:80px auto 100px auto; }
.list {margin:80px auto 100px auto; }
.list li:first-of-type h6 {font-family: JetBrains; font-size: 0.9rem; text-transform: uppercase; margin-top: 3px;}
.list li:first-of-type .description {font-family: JetBrains; font-size: .9rem;text-transform: uppercase; margin-top: -1px;}
.list li:first-of-type  {padding: 3px 0 0 0; border:0; min-height: auto;}
.list li {margin: 0 auto; padding: 30px 0; border-bottom:1px solid rgba(191,186,174,.3); display: block; width: 100%;}
.list li:last-of-type {border-bottom:0;}
.list h6 {font-size: .85rem; line-height: 1em;letter-spacing: 0.02em; display:inline-block; width: 25%; vertical-align:top; margin:0; color: #555;}
.description {display:inline-block; width: 70%;}
.description h3 {font-size: 1.4rem; line-height:1em; color:#bfbaae; }
.description p {margin: 10px 0 0 0; color: #555;}
.columns {column-count:2; max-width: 980px; column-gap: 3em; margin: 50px 2.5%;}
.columns p {display: inline-block; margin:10px 0;}

@media (max-width: 800px) 
{
.list h6 { display:block; width: auto; margin:0 0 10px 0;}
.description {display:block; width: 100%;}
.landscape, .portrait {grid-gap: 10px 10px; margin: 5px auto;}
.portrait p, .landscape p {margin: 10px 0; font-size:0.8rem; line-height: 1.2em;}
.columns {column-count:auto;  margin: 50px auto;}
footer div {width: 100%; display: block; text-align: left; margin-top: 20px;}
}