@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,900;1,400&display=swap');
html,body,main,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,figure,footer,header,menu,nav,section,menu,time,mark,audio,video {margin:0;padding:0;border:0;outline:0;vertical-align:baseline;background:transparent;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
html {width: 100%;height: 100%;}
body {font-size: 16px; font-family: 'Merriweather', serif;  color: #eee; background-color: #101023; }
h1,h2,h3,h4,h5,h6 {font-weight: 900; line-height: 1.1em; color: #fff; margin: 10px 0;}
h1 {font-size: 58px; margin: 0 0 30px 0;}
h2 {font-size: 40px; text-align: center; margin: 120px auto 60px auto; color: #c69f73;}
h3 {font-size: 30px; margin: 20px 0;}
h4 {font-size: 20px;}
h5 {font-size: 18px;}
h6 {font-size: 18px;text-transform: uppercase; margin: 20px auto;}
p {font-size: 16px; line-height: 1.7em; font-weight: 400; margin: 0 0 30px 0;}
ul {padding: 0 0 30px 20px;}
li {font-size: 16px; line-height: 1.7em;}
blockquote {font-style: italic; font-size:17px;line-height:1.6em; padding:0px 30px 10px 30px; text-align: center; color: #666;}
hr {width:100%; margin:20px auto; background-color: #ddd; height: 1px; border: none;}
img {max-width: 100%; width: 100%;}
a {color: #fff;transition: all 0.2s ease; text-decoration: none; border-bottom: 1px solid #ccc; }
a:hover {color: #c69f73;}
header {width: 100vw; height: 100vh;background: url(img/bg.jpg) no-repeat center center fixed; background-size: cover; display: table;}
header div {display: table-cell;  margin: 0 auto;vertical-align: middle; padding: 0 10px;}
header figure {max-width: 700px;margin: 0 auto 20px auto;}
header h1, header p {margin: 0 auto 30px auto;}
header img {background-color: #a00; width: 60px; height: 60px; padding: 5px; margin-bottom: 30px;}

article, section {max-width: 800px; margin: 30px auto 60px auto; padding: 0 15px;border-bottom: 1px solid #333;}
article p {text-indent: 30px;}
article p:first-of-type {text-indent: 0;}
article p:first-of-type::first-letter {font-size: 90px; float: left; margin:28px 6px 10px 0; font-weight: 500; color:#fff;}

footer {max-width: 800px; margin: 0 auto; padding: 20px 15px 40px 15px; font-family: sans-serif;}
section img {max-width: 500px}

button, .button {font-family: sans-serif;font-size: 14px;line-height:1em;font-weight: normal;text-transform: uppercase;position: relative;display:inline-block; padding: 10px 15px 11px 15px; color: #fff;background-color:#c69f73;z-index:0;text-align: center;overflow: hidden; border: 1px solid #c69f73; border-radius: 3px; margin:0 auto; cursor: pointer;}
button:hover, .button:hover{color:#fff;background-color: #000;border: 1px solid #555;}

@media screen and (max-width:800px) { 
h1 {font-size: 40px;}
h2 {font-size: 36px;}
h3 {font-size: 26px;}
p,li, footer {font-size: 15px;}
}