@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@700&display=swap');
body {font-size: 16px; font-family: Menlo, Monaco, "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace; font-weight: normal;  color: #111; background-color:#E4EEF2; }
h1,h2,h3,h4,h5,h6 {font-family: 'Barlow', sans-serif; font-weight: 700;line-height: 1.1em; color: #000; margin: 10px 0;}
h1 {font-size: 58px; margin: 0 0 30px 0; text-transform: uppercase;}
h3 {font-size: 30px; margin: 20px 0 40px 0; text-align: center;}
h6 {font-size: 18px;text-transform: uppercase; margin: 20px auto 0 auto; color: #CA2F3C; text-align: center; letter-spacing: 1px;}
p {font-size: 16px; line-height: 1.7em; font-weight: 400; margin: 0 0 30px 0;}
section a {color: #111; text-decoration: none; border-bottom: 1px solid #333; }
a:hover {color: #CA2F3C;}
header {width: 100vw; height: 90vh;background-image: url(img/test.jpg); background-repeat:no-repeat; background-position: center center; background-size: cover; background-attachment: fixed;display: table;}
header div {display: table-cell;  margin: 0 auto;vertical-align: middle; padding: 0 15px;}
header figure {max-width: 700px;margin: 0 auto 20px auto;}
header h1, header p {margin: 0 auto 30px auto; text-shadow: 1px 1px 1px #111; color: #fff;}
nav img {animation-name: LogoAnimate;animation-duration: 15s;animation-iteration-count: infinite;animation-direction: alternate;animation-timing-function: linear;}
article {max-width: 600px; margin: 0 auto; padding: 60px 15px;}
section {max-width: 600px; margin: 20px auto;}
section div {padding-top: 20px;}
section img {max-height: 40px;}
section a {border: none;filter: grayscale(1);}
section a:hover {border: none; filter: grayscale(0);}

@media screen and (max-width:800px) { 
h1 {font-size: 40px;}
h3 {font-size: 26px;}
p  {font-size: 14px;}
}
@keyframes LogoAnimate {
  0% {background: #CA2F3C;}
  25% {background: #A63348;}
  50% {background: #B9C2C9;}
  75% {background: #333333;}
  100% {background: #283C43;}
}
