@import "../css/montserrat.css";
body {color: #222; background-color: #fff;}
header {width: 100%; height: 210px; text-align: center;display: table;}
header h4 { font-size: 70px; line-height: 70px;}
header h1 {font-size: 70px; line-height: 70px; margin-bottom: 0;}
header a {text-decoration: none;}
header div {display: table-cell; vertical-align: middle;}
header p {text-align: center;}
header b {color: #C69F73; font-weight: normal;}
main {max-width: 1050px; margin:0 auto;  padding:40px 20px 50px 20px; border-top: 1px solid #111; border-bottom: 5px solid #111;}
main p {font-size: 16px;}
section {max-width:1090px; margin:0 auto; padding: 0 20px;}
h1, h2, h3, h4, h5, h6 { font-family: 'Montserrat', sans-serif; text-transform: uppercase; font-weight: normal;}
h1 {font-size: 46px; line-height: 46px; margin-bottom: 10px;}
p {font-family: 'Playfair Display';text-align: justify; font-size: 14px;}

ol li {counter-increment: ua;text-align: left; min-height: 500px; position: relative; font-family: 'Playfair Display'}
ol li:before {content: counter(ua) "";font-weight: 700;font-size: 120px;}
ol li:nth-child(odd):before {width:350px; text-align: center; vertical-align: top;  top:-30px;display: table-cell;}
ol li:nth-child(even):before {width: 350px; float: right; text-align: center;} 

ol {list-style: none; counter-reset: ua; margin: 50px 0;}
ol li div {max-width: 350px;}
ol li h2 {font-size: 32px; line-height: 32px; margin:10px 0 10px 0; text-align: center; }
ol li h3 {font-size: 17px; line-height: 20px; margin:0px 0 20px 0; text-align: center; color: #c69f73; text-transform: uppercase; font-weight: normal; font-family: 'Montserrat', sans-serif;}

ol li:nth-of-type(odd) div {float: left;}
ol li:nth-of-type(even) div {float: right; clear: right;}

ol li img {top: 70px;}
ol li:nth-of-type(odd) img {max-width: 600px; position: absolute; right: 0; }
ol li:nth-of-type(even) img {max-width: 600px; position: absolute; left: 0; }

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {background-color: #000;}

.two-col {margin-top: 50px;}
.two-col div {margin-bottom: 10px; width: 100%; min-height: 400px; text-align: center;}
.two-col div h2 {font-size: 36px;line-height: 36px; padding: 60px;}
.two-col div a {display: block; height: 400px; text-decoration: none; color: #fff;}
.two-col div a:hover {color: #C69F73;}

@media screen and (max-width:1000px) { 

header {height: 310px;}
header h1, header a {font-size: 60px; line-height: 60px;}
ol li:before {font-size: 100px;}
ol li:nth-child(odd):before {width:100%; text-align: center;display: block;}
ol li:nth-child(even):before {width: 100%; float: none; text-align: center;display: block;} 

ol li div {max-width: 100%; margin: 0 auto 20px auto;}


ol li:nth-of-type(odd) div {float: none;}
ol li:nth-of-type(even) div {float: none;}

ol li:nth-of-type(odd) img {max-width: 100%; position: relative; right: auto; top: auto;}
ol li:nth-of-type(even) img {max-width: 100%; position: relative;  top: auto; left: auto;}

}