body {background-color: #fff;   }
svg {font-family:ui-sans-serif, BlinkMacSystemFont, sans-serif;font-size:11rem; width: 95%; margin: -10px auto 20px auto;}
svg a {cursor: pointer; fill:#c01f17;}
svg a:hover {fill:var(--black); }
header b a {background:#C01F17;}
header b a:hover {background:var(--black);}
header nav a ,a {color: #222;}
header nav a:hover, a:hover{color:#C01F17;}
.button {background-color: var(--white); color: var(--black); border: none;}
.button:hover {background-color: var(--black); color: var(--white); border: none;}
.book-text {width:100%; background-color: #C01F17; color: #fff;padding:100px 100px 50px 50px;}
.book-image {width:60%; margin:0 auto; border:10px solid #fff;}
.swiss-map {width: 100%; padding: 50px;}
select {font-size: 1rem; line-height: 1em; outline: none;  border-color: var(--black); color: #900; -webkit-appearance: none; padding: 7px; margin-top: 10px;}


@media (max-width: 760px) 
{
svg {margin: 20px auto 0 auto;}
.swiss-map {padding: 0;}
.book-text {padding:50px 20px 100px 20px; margin-bottom: 100px;}
.book-image {width:100%;}


}
