@font-face {font-family: 'Futura-Bold'; src: url('Futura-Bold.woff') format('woff');}
body {background-color: #111;color: #ccc; background: url(contours.jpg) center center fixed no-repeat; background-size: cover;}
header h1     {background: url(logo.png) no-repeat center center;background-size:cover;width:75px;height:97px;display:block;font-size:0;color:#fff;}
nav a   		{color:#ccc; border:none;}
nav a:hover 	{color:#f00; border:none;}
h1,h2,h3,h4,h5 {color: #fff!important;font-family: Futura-Bold;}
h2 {font-size: 50px;}
h6 {color: #f00!important; font-size: 18px;}
blockquote {font-size: 22px;font-weight: normal;line-height: 36px;text-transform: uppercase;margin:100px auto 130px auto;padding: 0 50px 0 30px; position:relative;color:#fff;text-align: center; max-width: 600px;}
blockquote:before{font-family:serif; content: open-quote; position: absolute; top:-30px;left:46%;font-size: 70px;color:#ddd; }
blockquote:after {content: close-quote; font-size:0; position: absolute;border-top:3px solid #ddd;bottom:-60px;left:45%;width:40px;} 
article {float: left;width:45%;}
figure {float: right; width: 50%; clear: right;}

a, footer a {color:#f30;}
a:hover, footer a:hover {color: #fff;}
.wallpaper {width: 47%;}
footer p {color: #666;}
button, .button {color: #fff;background-color:#f00;}
button:after, .button:after {background: none repeat scroll 0 0 #333;}
button:hover, .button:hover {color:#fff; border:none;}
button:hover:after, .button:hover:after {height: 420%;}



@media screen and (max-width:1260px) {
    header h1           {margin:0;width:65px;height:84px;}
    h2 {font-size: 40px;}
}
@media screen and (max-width:830px) {
    .wallpaper    {width: 100%;}
    article, figure {float: none; width: 100%;}
}