body {background-color: #111;color: #ccc; background: url(contours.jpg) center center fixed no-repeat; background-size: cover;}
header h1     {background: url(logo.png) no-repeat center center;background-size:cover;width:75px;height:97px;display:block;font-size:0;color:#fff;}
h1,h2,h3,h4,h5,blockquote {color: #fff!important;}
a {color:#fff;}
a:hover {color: #f30;}
footer p {color: #666;}
@media screen and (max-width:1260px) {
    header h1           {margin:0;width:65px;height:84px;}
}