body {color: #333; background-color: #fefefe;}
nav img {background-color: #c69f73;}
header {width: 100%; height:calc(100vh - env(safe-area-inset-bottom));display: table;  padding: 0 10px; background-image: url(img/la-rencontre.jpg); background-repeat: no-repeat; background-position: center center; background-size: cover; background-attachment: fixed;}
header div {display: table-cell;  margin: 0 auto; vertical-align: middle; text-align: center;}
header p {color: #fff;  max-width: 540px; margin: 10px auto;  text-shadow: 1px 1px 3px rgba(0, 0, 0,.3);}
section {max-width: 680px; margin: 40px auto;  padding: 0 20px; }
h1,h2 { color: #111; font-style: normal;}
header p, section p, section li, blockquote, figcaption,h2,h1 {
-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-rendering: optimizeLegibility;
font-family: Charter, Georgia, serif;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px;
margin: 30px auto;
}
h1 {font-size: 72px; line-height: 1em; font-weight: 700; color: #fff;  text-shadow: 1px 1px 3px rgba(0, 0, 0,.3); letter-spacing: -2px;}	
h2 {font-size: 42px;
font-weight: 700;
letter-spacing: -0.5px;
line-height: 50px;
margin: 100px 0 0 0;
}
section p:first-of-type::first-letter {font-size: 112px; float: left; margin:28px 10px 10px 0; font-weight: 600; color:#4C5D69;}
section ol {margin:0 0 0 35px;}
section li {margin: 0; padding: 0; line-height: 30px}
blockquote {font-style: italic; font-size:32px;line-height:42px; padding:20px; text-align: center; color: #4C5D69; position: relative; margin: 0;}
blockquote:after {position: absolute;content: ''; width: 10%;height: 3px;border-bottom: 3px solid #CEA93A; bottom: 1px; left: 55%;margin-left: -10%;}
figure {margin: 60px auto 90px auto; max-width: 800px;}
figcaption {font-size: 12px;  margin:10px 0 60px 0; text-align: center; text-transform: uppercase; color: #4C5D69;}

@media screen and (max-width:800px) { 
h1 {font-size: 60px;}
}