@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,900;1,400&display=swap');
body {font-size: 16px; font-family: 'Merriweather', serif;  color: #333; background-color: #eee;}
h1,h2,h3,h4,h5,h6 {font-weight: 900; line-height: 1em; color: #111; margin: 10px 0 30px 0;}
h1 {font-size: 20px; margin-bottom: 10px;}
h2 {font-size: 30px;}
h3 {font-size: 40px; text-align: center; line-height: 45px; margin: 0 0 60px 0;}
h4 {font-size: 30px; margin: 30px 0 30px 0;text-align: center;}
h5 {font-size: 20px;}
h6 {font-size: 18px; ;text-transform: uppercase; text-align: center; letter-spacing: 5px; color: #c69f73;}
p {font-size: 16px; line-height: 1.6em; font-weight: 400; margin: 0 0 20px 0;}
blockquote {font-style: italic; font-size:17px;line-height:1.6em; padding:0px 30px 10px 30px; text-align: center; color: #666;}
hr {width:100%; margin:20px auto; background-color: #ddd; height: 1px; border: none;}
sup {font-size:80%;line-height:1.7em;vertical-align:top;padding: 2px;}
a[href*="#"] {text-decoration: underline; border: none; color: #c69f73;}
a:hover[href*="#"] {color: #000;}
em {font-style: italic; display: block; padding: 40px; font-size:  16px ;line-height: 1.7em;}
a {color: #000; transition: all 0.2s ease; text-decoration: none; border-bottom: 1px solid #ccc; }
a:hover {color: #c69f73;}
ol {margin: 10px 0 20px 60px;}
ol li {margin: 10px 0; line-height: 1.7em;}
section {max-width: 800px; margin: 0 auto; padding:20px 70px; background-color: #fff; box-shadow: 1px 1px 15px #ddd;}
header {margin:0; text-align: center;}
article {margin: 50px 0; padding: 50px 0; border-bottom:1px solid #ccc;}
article p {text-indent: 30px; }
article p:first-of-type {text-indent: 0;}
article p:first-of-type::first-letter {font-size: 90px; float: left; margin:28px 6px 10px 0; font-weight: 500; color:#000;}
figure {max-width: 100%; margin: 30px auto 0 auto;}
figcaption {font-size: 13px; font-style: italic; margin-bottom: 60px; text-align: center; color: #666;}
footer {text-align: center;}
footer p {font-size: 14px;}
footer nav {width: auto;display: table; padding:0 0 20px 0; margin: 0 auto; position: relative; height:auto; position:relative;}
.button {font-family: 'Merriweather', serif; font-size: 14px;line-height:16px; display:table-cell; padding: 10px 15px 11px 15px; color: #111; text-align: center; border: 1px solid #c69f73; border-radius: 3px; cursor: pointer; }
.button:hover{color:#fff;background-color: #c69f73;border: 1px solid #c69f73;}
select  {-webkit-appearance: none;-webkit-box-direction: normal;background-clip: padding-box;background-image:url(../store/img/arrow.png);background-position: right;background-repeat: no-repeat;background-size: contain;color: #222;background-color: #fff;border: 1px solid #c69f73;border-radius: 3px;cursor: default;display: table-cell;font-family: 'Merriweather', serif;font-size: 14px;font-weight: normal;line-height: 16px;padding:5px 30px 5px 10px;white-space: nowrap;width: 200px;height: 40px;outline: none; margin: 0 10px;}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {background-color: #000;}

@media screen and (max-width:800px) { 
h2 {font-size: 26px;}
h3 {font-size: 30px;}
section {padding: 25px 20px;}
select {width: 120px; margin: 0 5px;}
}