@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,900;1,400&family=Playfair+Display:wght@700&display=swap');
html,body,main,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,figure,footer,header,menu,nav,section,menu,time,mark,audio,video {margin:0;padding:0;border:0;outline:0;vertical-align:baseline;background:transparent;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
html {width: 100%;height: 100%;}
body {font-size: 16px; font-family: 'Merriweather', serif;  color: #333; background-color: #eee;}
h1,h2,h3,h4,h5,h6 {font-weight: 900; line-height: 1em; color: #111; margin: 10px 0 30px 0;}
h1 {font-family: 'Playfair Display', serif; font-size: 100px; line-height: 90px; margin:50px auto;letter-spacing: -2px; position: relative; font-weight: 900;color: #c69f73;}
h2 {font-size: 30px;}
h3 {font-size: 50px; text-align: center; line-height: 55px; margin: 0 0 60px 0;}
h4 {font-size: 30px; margin: 30px 0 30px 0;text-align: center;}
h5 {font-size: 20px;}
h6 {font-size: 18px; ;text-transform: uppercase; text-align: center; letter-spacing: 5px; color: #c69f73;}
p {font-size: 16px; line-height: 1.7em; font-weight: 400; margin: 0 0 10px 0;}
blockquote {font-style: italic; font-size:17px;line-height:1.6em; padding:0px 30px 10px 30px; text-align: center; color: #666;}
hr {width:100%; margin:20px auto; background-color: #ddd; height: 1px; border: none;}
sup {font-size:80%;line-height:1;vertical-align:top;padding: 2px;}
a[href*="#"] {text-decoration: underline; border: none; color: #c69f73;}
a:hover[href*="#"] {color: #000;}
em {font-style: italic; display: block; padding: 40px; font-size:  16px ;line-height: 1.7em;}
img {max-width: 100%; width: 100%;}
a {color: #000;transition: all 0.2s ease; text-decoration: none; border-bottom: 1px solid #ccc; }
a:hover {color: #c69f73;}
nav {padding: 50px 0;}
nav ul {}
nav li {list-style-type: none; margin: 10px 0; line-height: 1.7em;}
main p {font-size: 13px;}
section {max-width: 860px; margin: 0 auto; padding:20px 90px; background-color: #fff; box-shadow: 1px 1px 15px #ddd;}
header {margin: 20px 0; text-align: center;}
header h5 {margin-bottom: 10px;}
article {margin: 50px 0; padding: 50px 0; border-bottom:1px solid #ccc;}
article p {text-indent: 40px;}
article p:first-of-type {text-indent: 0;}
article p:first-of-type::first-letter {font-size: 90px; float: left; margin:28px 6px 10px 0; font-weight: 500; color:#000;}
figure {max-width: 100%; margin: 30px auto 0 auto;}
figcaption {font-size: 13px; font-style: italic; margin-bottom: 60px; text-align: center; color: #666;}
footer {text-align: center;}
.button {font-size: 14px;line-height:1em;font-weight: 700;text-transform: uppercase;position: relative;display:inline-block; padding: 10px 15px 11px 15px; color: #fff; background-color:#000;z-index:0;text-align: center;overflow: hidden; border: 1px solid #000; border-radius: 3px; margin:0 auto; cursor: pointer; margin: 20px 0 0 0; letter-spacing: 1px;}
.button:hover{color:#fff;background-color: #c69f73;border: 1px solid #c69f73;}
.the {font-size: 70px;}
@media screen and (max-width:800px) { 
h1 {font-size: 60px; line-height: 60px;}
h2 {font-size: 26px;}
h3 {font-size: 40px;}
.the {font-size: 40px;}
section {padding: 25px;}
}